@import "/css/apps/keep/note-card.css";
@import 'apps/mail/mail-inbox.css';
@import 'apps/mail/mail-compose.css';
@import 'apps/mail/mail-send.css';
@import 'parts/helpers.css';
@import './vars.css';

*{
box-sizing: border-box;
}

body{
    margin: 0;
}

.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(155, 145, 145);
}

.btn-nav{
  margin: 5px;
height: 2.5rem;
width: 2.5rem;
}