.ul-list {}

.li-mail section {
    display: flex;
    cursor: pointer;
}

.read-mail{
    /* display: flex; */
    font-weight: bold;
}

.mail-name {
    width: 10em;

}

.mail-subject {
    width: 10em;
}

.mail-sentAt {
    width: 10em;
}

section.open-mail{
    display: flex;
    flex-direction: column;
padding-top: 3px;
padding-bottom: 3px;
}

.label-open-mail{
    font-weight: bold;
}