.note-item{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
border-radius:1rem ;
}

.note-list ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5em;
}

.note-items-container{
    border: 1px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.note-tools-btn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

